.content__boxed {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  font-family: "Montserrat";
  margin: 0 auto;
  width: 360px;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.box_title {
  margin-bottom: 20px;
  color: rgb(79, 77, 77);
  font-size: 16px;
  @media screen and (min-width: 1200px) {
    font-size: 28px;
  }
}

.paymentPlans {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 0;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  height: fit-content;
  padding: 15px;
  width: 200px;
  color: rgb(114, 111, 111);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card:hover,
.card:focus {
  scale: 1.1;
  border: 1px solid rgb(71, 175, 71);
  z-index: 100;
}

.card:hover .button {
  background-color: rgb(71, 175, 71);
}

.text-primary {
  color: rgb(79, 77, 77);
  font-weight: 500;
}
.price {
  font-size: 50px;
}

.month {
  font-weight: 300;
  font-size: 12px;
}

.year {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.list {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-group-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.button {
  display: block;
  padding: 5px 25px;
  color: lightskyblue;

  font-size: 12px;
  text-decoration: underline;
  border: 1px solid rgb(114, 111, 111);
  border-radius: 5px;

  outline: none;
}

.label {
  width: 93px;
  height: 20px;
  font-size: 12px;
  padding: 1px 5px;
  position: absolute;

  color: white;
  rotate: 45deg;
  top: 23px;
  right: -13px;
}

.lable_name {
  z-index: 100;
  position: absolute;
  left: 20px;
  top: 3px;
}

.label::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent lightcoral;
  border-width: 0 0 20px 45px;
  transform: skew(45deg);

  background-color: lightcoral;
}
.label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: lightcoral transparent transparent transparent;
  border-width: 20px 70px 0 0;
  transform: skew(-45deg);
  background-color: lightcoral;
}
